@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.mainImgs {
  background-image: url("src/school.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.campus {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  opacity: 15%;
  z-index: 999;
  padding: 0;
  position: absolute;
}
